* {
    font-size: 15px;
    font-family: "MesloLGS Nerd Font Propo";
}

window#waybar {
    all: unset;
}

/* Module containers */
.modules-left,
.modules-center,
.modules-right {
    padding: 5px;
    border-radius: 10px;
    background: rgba(15, 15, 15, 0.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

.modules-left {
    margin: 4 0 0 10;
}

.modules-center {
    margin: 4 0 0 0;
}

.modules-right {
    margin: 4 10 0 0;
}

tooltip {
    background: rgba(15, 15, 15, 1);
}

/* Workspaces */
#workspaces {
    padding: 0px 5px;
}

#workspaces button,
#workspaces button.empty,
#workspaces button.active,
#workspaces button.empty.active {
    all: unset;
    padding: 0px 5px;
    border: none;
    transition: all .2s ease;
}

#workspaces button {
    color: rgba(80, 80, 80, 1.0);
}

#workspaces button.active,
#workspaces button.empty.active {
    color: rgba(120, 120, 120, 1.0);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#workspaces button:hover,
#workspaces button.empty:hover {
    color: rgba(60, 60, 60, 1);
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 0.3s ease;
}

#workspaces button.empty {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}

/* Main module style group */
#clock,
#custom-pacman,
#custom-notification,
#bluetooth,
#network,
#battery,
#cpu,
#memory,
#temperature,
#power-profiles-daemon,
#custom-colorpicker,
#custom-hypridle {
    padding: 0px 5px;
    color: rgba(198, 194, 194, 1.0);
    transition: all .3s ease;
}

/* Hover group */
#clock:hover,
#custom-pacman:hover,
#custom-notification:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#power-profiles-daemon:hover,
#custom-colorpicker:hover,
#custom-hypridle:hover,
#custom-expand:hover,
#custom-endpoint:hover {
    transition: all .3s ease;
    color: rgba(100, 100, 100, 1);
}

/* Battery states */
#battery.charging {
    color: #4fa87a;
}

#battery.warning {
    background-color: unset;
    color: #e6a96b;
}

#battery.critical,
#temperature.critical {
    color: #d96c6c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Expand panel*/
#group-expand {
    padding: 0px 5px;
    transition: all .3s ease;
}

#custom-expand {
    padding: 0px 5px;
    color: rgba(80, 80, 80, 1.0);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
    transition: all .3s ease;
}

#custom-endpoint {
    color: rgba(80, 80, 80, 1.0);
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);

}
