@define-color text rgba(230, 230, 230, 1.0);
@define-color bg rgba(30, 30, 30, 0.95);
@define-color bg-hover rgba(45, 45, 45, 0.98);
@define-color mycolor rgba(160, 160, 160, 1.0);
@define-color border-color rgba(60, 60, 60, 0.8);
@define-color mpris-album-art-overlay rgba(30, 30, 30, 0.95);
@define-color mpris-button-hover rgba(45, 45, 45, 0.8);

@define-color accent-good #4fa87a;
@define-color accent-warn #e6a96b;
@define-color accent-crit #d96c6c;

@keyframes fadeIn {
    0% {
        padding-left: 20;
        margin-left: 50;
        margin-right: 50;
    }

    100% {
        padding: 0;
        margin: 0;
    }
}

* {
    outline: none;
}

.control-center .notification-row {
    background-color: unset;
}

.notification {
    background: rgba(50, 50, 50, 0.8);
}

.control-center .notification-row .notification-background .notification {
    margin-top: 0.150rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
    background: rgba(50, 50, 50, 0.8);
    border-radius: 12px;
    border: 1px solid rgba(60, 60, 60, 0.8);
}

.floating-notifications .notification {
    animation: fadeIn .5s ease-in-out;
}

.control-center .notification-row .notification-background .notification box,
.control-center .notification-row .notification-background .notification widget,
.control-center .notification-row .notification-background .notification .notification-content,
.floating-notifications .notification-row .notification-background .notification box,
.floating-notifications .notification-row .notification-background .notification widget,
.floating-notifications.background .notification-background .notification .notification-content {
    border-radius: 0.818rem;
}

.notification widget:hover {
    background: rgba(60, 60, 60, 0.5);
}

.floating-notifications.background .notification-background .notification .notification-content,
.control-center .notification-background .notification .notification-content {
    padding-top: 0.818rem;
}

.control-center .notification-row .notification-background .notification.low .notification-content label,
.control-center .notification-row .notification-background .notification.normal .notification-content label,
.floating-notifications.background .notification-background .notification.low .notification-content label,
.floating-notifications.background .notification-background .notification.normal .notification-content label {
    padding: 10px;
}

.control-center .notification-row .notification-background .notification.low .notification-content .body,
.control-center .notification-row .notification-background .notification.normal .notification-content .body,
.floating-notifications.background .notification-background .notification.low .notification-content .body,
.floating-notifications.background .notification-background .notification.normal .notification-content .body {
    color: @text;
}

.control-center .notification-row .notification-background .notification.critical .notification-content,
.floating-notifications.background .notification-background .notification.critical .notification-content {
    background-color: rgba(217, 108, 108, 0.3);
}

.control-center .notification-row .notification-background .notification.critical .notification-content label,
.floating-notifications.background .notification-background .notification.critical .notification-content label {
    color: @accent-crit;
}

.notification-content {
    padding: 5;
}

.control-center .notification-row .notification-background .notification .notification-content .summary,
.floating-notifications.background .notification-background .notification .notification-content .summary {
    font-family: 'CodeNewRoman Nerd Font Propo';
    font-size: 0.9909rem;
    font-weight: 500;
}

.control-center .notification-row .notification-background .notification .notification-content .time,
.floating-notifications.background .notification-background .notification .notification-content .time {
    font-size: 0.8291rem;
    font-weight: 500;
    margin-right: 1rem;
}

.control-center .notification-row .notification-background .notification .notification-content .body,
.floating-notifications.background .notification-background .notification .notification-content .body {
    font-family: 'CodeNewRoman Nerd Font Propo';
    font-size: 0.8891rem;
    font-weight: 400;
    margin-top: 0.310rem;
}

.control-center .notification-row .close-button,
.floating-notifications.background .close-button {
    all: unset;
    color: @text;
    min-height: 20px;
    min-width: 20px;
}

.control-center .notification-row .close-button:hover,
.floating-notifications.background .close-button:hover {
    all: unset;
    background-color: @bg;
    border-radius: 100%;
    color: @text;
}

.control-center {
    background: @bg;
    color: @text;
    border-radius: 12px;
    border: 1px solid rgba(60, 60, 60, 0.8);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
}

.widget-title {
    padding-left: 20px;
    padding-top: 20px;
    color: @text;
}

.widget-title>button {
    font-size: initial;
    color: @text;
    background: rgba(217, 108, 108, 0.3);
    border-radius: 12px;
    padding: 0px 10px;
    margin-right: 20px;
    margin-top: 3px;
    transition: all .7s ease;
}

.widget-title>button:hover {
    background: @bg-hover;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .65);
}

.widget-label {
    margin: 8px;
}

.widget-label>label {
    font-size: 1.1rem;
}

.widget-mpris .widget-mpris-player {
    padding: 16px;
    margin: 16px 20px;
    background-color: @mpris-album-art-overlay;
    border-radius: 12px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .65);
}

.widget-mpris .widget-mpris-player button {
    color: @text;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
    transition: all 0.5s ease;
}

.widget-mpris .widget-mpris-player button:hover {
    background: @bg-hover;
    border: 2px solid transparent;
}

.widget-mpris .widget-mpris-player .widget-mpris-album-art {
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
}

.widget-mpris .widget-mpris-player .widget-mpris-title {
    font-weight: bold;
    font-size: 1.25rem;
}

.widget-mpris .widget-mpris-player .widget-mpris-subtitle {
    font-size: 1.1rem;
}

.widget-buttons-grid {
    font-family: "CodeNewRoman Nerd Font Propo";
    padding: 8px;
    margin: 10px;
    border-radius: 12px;
    background: transparent;
}

.widget-buttons-grid>flowbox>flowboxchild>button label {
    font-size: 20px;
    color: @mycolor;
    transition: all .7s ease;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover label {
    color: @text;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
    background: transparent;
    border-radius: 12px;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, .02);
    transition: all .5s ease;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
    background: @bg-hover;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .2);
}

.widget-buttons-grid>flowbox>flowboxchild>button.toggle:checked {
    background: @accent-good;
}

.widget-buttons-grid>flowbox>flowboxchild>button.toggle:checked label {
    color: @bg;
}

trough {
    border-radius: 20px;
    background: transparent;
}

trough highlight {
    background: @mycolor;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    transition: all .7s ease;
}

trough highlight:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.widget-volume,
.widget-backlight {
    background-color: transparent;
    padding: 8px;
    margin: 8px;
    border-radius: 12px;
}