@import url("../hypr/colors.css");

* {
    all: unset;
    background-image: none;
    margin: unset;
    padding: unset;
    transition: 200ms cubic-bezier(0, 0, 1, 1);
}

button {
    font-family: 'MesloLGS Nerd Font Propo';
    background-color: @color-900;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

#lock {
    background-image: image(url("../../.config/wlogout/lock.png"));
    margin: 5px 5px 5px 300px;
    padding: 5px;
}

#shutdown {
    background-image: image(url("../../.config/wlogout/power.png"));
    margin: 5px 300px 5px 5px;
    padding: 5px;
}

#logout {
    background-image: image(url("../../.config/wlogout/logout.png"));
    margin: 5px 300px 5px 5px;
    padding: 5px;
}

#reboot {
    background-image: image(url("../../.config/wlogout/restart.png"));
    margin: 5px 5px 5px 300px;
    padding: 5px;
}

#lock:focus {
    margin: 5px 5px 5px 200px;
}

#shutdown:focus {
    margin: 5px 200px 5px 5px;
}

#logout:focus {
    margin: 5px 200px 5px 5px;
}

#reboot:focus {
    margin: 5px 5px 5px 200px;
}

button:focus {
    background-color: @color-600;
    color: @color-50;
    background-position: center;
}
