@import url("../hypr/colors.css");

* {
    font-size: 14px;
    font-family: "MesloLGS Nerd Font Propo";
}

window#waybar {
    all: unset;
}

/* Module containers */
.modules-left,
.modules-center,
.modules-right {
    padding: 5px;
    border-radius: 10px;
    background: @color-900;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

.modules-left {
    margin: 4 0 0 10;
}

.modules-center {
    margin: 4 0 0 0;
}

.modules-right {
    margin: 4 10 0 0;
}

tooltip {
    background: @color-900;
}

/* Workspaces */
#workspaces {
    padding: 0px 5px;
}

#workspaces button,
#workspaces button.empty,
#workspaces button.active,
#workspaces button.empty.active {
    all: unset;
    padding: 0px 5px;
    border: none;
    transition: all .2s ease;
}

#workspaces button {
    color: @color-600;
}

#workspaces button.active,
#workspaces button.empty.active {
    color: @color-400;
}

#workspaces button:hover,
#workspaces button.empty:hover {
    color: @color-500;
}

#workspaces button.empty {
    color: @color-800;
}

/* Main module style group */
#clock,
#custom-notification,
#bluetooth,
#network,
#battery,
#cpu,
#memory,
#temperature,
#power-profiles-daemon,
#custom-hypridle,
#custom-hyprsunset,
#custom-seperator {
    padding: 0px 5px;
    color: @color-50;
    transition: all .3s ease;
}

/* Hover group */
#clock:hover,
#custom-notification:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#power-profiles-daemon:hover,
#custom-hypridle:hover,
#custom-hyprsunset:hover,
#custom-seperator:hover {
    transition: all .3s ease;
    color: @color-500;
}

/* Battery states */
#battery.charging {
    color: @color-green;
}
#battery.warning {
    color: @color-yellow;
}
#battery.critical {
    color: @color-red;
}
