@define-color color-950 #09090b;
@define-color color-900 #18181b;
@define-color color-800 #27272a;
@define-color color-700 #3f3f46;
@define-color color-600 #52525b;
@define-color color-500 #71717a;
@define-color color-400 #a1a1aa;
@define-color color-300 #d4d4d8;
@define-color color-200 #e4e4e7;
@define-color color-100 #f4f4f5;
@define-color color-50 #fafafa;
@define-color color-red #991b1b;
@define-color color-green #166534;
@define-color color-orange #9a3412;
